{% extends 'website.html' %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static',filename='css/interested.css')}}">


<div class="container">


    {% if inter %}
    <br>
    <br>
    <table class="table table-striped table-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">EmailId</th>
      <th scope="col">Name</th>
      </tr>
  </thead>
    <tbody>
    {% for k in inter %}

    <tr>
      <th scope="row">{{k.id}}</th>
      <td>{{k.email}}</td>
      <td>{{k.name}}</td>

    </tr>

    {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>We cant find anything</p>
    {% endif %}
    <!-- <div align=center>
      <strong>Section Counter</strong>
    </div>

        <br><br>
        <div class="row" align=center>
            <div class="column">
                <div class="card">
                    <p><i class="fa fa-user"></i></p>
                    <h3>759+</h3>
                    <p>Contributer</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><i class="fa fa-book"></i></p>
                    <h3>60k+</h3>
                    <p>Article</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><i class="fa fa-smile-o"></i></p>
                    <h3>70+</h3>
                    <p>Employees</p>
                </div>
            </div>
        </div> -->
{% endblock %}
