{% extends 'website.html' %}
{% block body %}
    {% if inter %}
    <br>
    <br>
    <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">EmailId</th>
      <th scope="col">Name</th>
      </tr>
  </thead>
    <tbody>
    {% for k in inter %}

    <tr>
      <th scope="row">{{k.id}}</th>
      <td>{{k.email}}</td>
      <td>{{k.name}}</td>

    </tr>

    {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>We cant find anything</p>
    {% endif %}
{% endblock %}
